@using Microsoft.AspNetCore.Identity
@using EShopping.Models.Enums

@*----- to find if user is logged in *@
@inject SignInManager<IdentityUser> _signInManager

@*----- gets the user object to see properties, roles *@
@inject UserManager<IdentityUser> _userManager                  

@{
    bool isLoggedIn = _signInManager.IsSignedIn(this.User);

    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);         // gets the Logged In User
    if (user != null)
    {
        isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.ProductAdmin.ToString());
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShopping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <!-- mobile metas -->
     
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>romofyi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
     
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    @RenderSection("HeadScripts", required: false)
   
  <link rel="stylesheet" href="/resources/demos/style.css">
    
</head>
<body class="main-layout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3">
            <div class="navbar">
    <div class="navbar">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHpgooYFSUpCVeJIYxEV9HqnADD12pCj0znA&usqp=CAU"  style="width:125px">
        </div>
</div>
            <div class="container">
              <b><i><a class="navbar-brand" asp-area="" asp-page="/Index"><b><i>RedStore|EFashion Design</i></b></a></i></b>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                          <a class="nav-link text-dark" asp-area="" asp-page="/Index"><b>HOME</b></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-page="/Privacy"><b>PRIVACY</b></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-page="/About"><b>ABOUT</b></a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#"><b>FASHION COLLECTION</b></a>
                        <div class="dropdown-menu">
                             <a class="dropdown-item"
                                asp-area="eshopping" asp-controller="Categories" asp-action="Index">Categories</a>
                                    
                                    <a class="dropdown-item"
                            asp-area="eshopping" asp-controller="Products" asp-action="Index">Products</a>
                                    <a class="dropdown-item"
                            asp-area="eshopping" asp-controller="Payments" asp-action="Index">Set Payment</a>
                            @if(isUserAdmin){
                                    <a class="dropdown-item"
                            asp-area="eshopping" asp-controller="OrderDetails" asp-action="Index">See Order</a>
                                    <div class="dropdown-divider"></div>
                                       <a class="dropdown-item"
                               asp-area="eshopping" asp-controller="Customers" asp-action="Index">List Of Customer</a>
                                }
                                else
                                {
                                     <a class="dropdown-item"
                               asp-area="eshopping" asp-controller="Customers" asp-action="Create">Customer Register</a>
                                  <a class="dropdown-item"
                               asp-area="eshopping" asp-controller="OrderDetails" asp-action="Create"> Order Now</a>
                                }
                                <a class="dropdown-item"
                                   asp-area="eshopping" asp-controller="ShowProducts" asp-action="Index">Show Products</a> 
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/MyCategoriesApiDemo.html">
                                    Categories API Demo
                                </a> 
                            

                              
                                         
                               
                          </div>
                                     </li>              
                                    
                    </ul>
                  
                </div>
              <b> <partial name="_LoginPartial" /></b>
                 
            </div>
             
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - EShopping - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.min.js"></script>
     <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
   
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
